<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags"
      xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link href="../../recources/css/app.css"
          th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">even.T.S.</a>
                </div>
                <ul class="nav navbar-nav">
                    <li th:class="${#request.requestURI == '/events'}?'active'"><a href="#" th:href="@{/events}"
                                                                                   th:text="#{orte.events}">Event</a>
                    </li>
                    <li th:class="${#request.requestURI == '/venues'}?'active'"><a href="#" th:href="@{/venues}"
                                                                                   th:text="#{orte.venues}">Veranstaltungsort</a>
                    </li>
                </ul>
                <div class="dropdown nav navbar-nav navbar-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            th:text="#{language.language}">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <script>$('.dropdown-toggle').dropdown()</script>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="#" th:href="@{${#request.requestURI}(lang=de)}"
                               th:text="#{language.de}">deutsch</a></li>
                        <li><a href="#" th:href="@{${#request.requestURI}(lang=en)}"
                               th:text="#{language.en}">english</a></li>
                        <li><a href="#" th:href="@{${#request.requestURI}(lang=es)}"
                               th:text="#{language.es}">español</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li sec:authorize="isAuthenticated()">
                        <a href="/userupdate" class="glyphicon glyphicon-user"> <span
                                sec:authentication="name">miquel</span></a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a href="/logout"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>
                        Login</a></li>
                </ul>
            </div>

        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2 th:text="#{orte.text1}">Tickets</h2>

                    <h3 th:text="#{orte.text2}">Event tickets</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>