<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title th:text="#{site.titel}">even.T.S. Events</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:class="bg" th:if="${not #lists.isEmpty(shows)}">
        <h2 th:text="${event.name}">Test</h2>
        <p th:text="${event.description}">Description</p>
        <table class="table table-striped">
            <tr>
                <th th:text="#{show.address}">Ort</th>
                <th th:text="#{show.date}">Bild</th>
                <th th:text="#{show.order}">Order Tickets</th>
            </tr>
            <tr th:each="show : ${shows}">
                <td th:text="${show.venue.name}"></td>
                <td th:text="${show.date}"></td>
                <td>
                    <form></form>
                    <a class="btn btn-default" href="/order" th:href="${'/order/1'}" role="button"
                       th:text="#{show.order}">Order</a></td>
            </tr>
        </table>

    </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>