<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title th:text="#{site.titel}">even.T.S. Events</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:class="bg" th:if="${not #lists.isEmpty(events)}">
        <h2 th:text="#{orte.events}">Test</h2>
        <table class="table table-striped">
            <tr>
                <th th:text="#{event.name}">Venue</th>
                <th th:text="#{orte.description}">Description</th>
                <th th:text="#{event.address}">Details</th>
            </tr>
            <tr th:each="event : ${events}">
                <td th:text="${event.name}"><a href="/product/${product.id}">name</a></td>
                <td th:text="${event.description}" th:width="400">beschreibung</td>
                <td><a class="btn btn-default" href="/eventdetails" th:href="${'/eventdetails/' + event.id}"
                       role="button" th:text="#{event.details}">Details</a></td>
            </tr>
        </table>

    </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>