<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>even.T.S. Login</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


    <form class="form-horizontal" action="/login" method="post">

        <div>
            <div>
                <input type="text" class="style-4" autofocus="autofocus" name="username"
                       placeholder="User Name"/>
            </div>
            <div>
                <input type="password" class="style-4" name="password"
                       placeholder="Password"/>
            </div>
            <div>
                <input type="submit" value="Sign In" class="button red small"/>
            </div>
            <div th:if="${param.error ne null}" class="alert-danger">Invalid username and password.</div>
            <div th:if="${param.logout ne null}" class="alert-normal">You have been logged out.</div>
        </div>
    </form>
    <a th:href="@{/userregister}" th:text="#{user.registration}">Registration</a>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>
