<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title th:text="#{site.titel}">even.T.S. Events</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:class="bg" th:if="${not #lists.isEmpty(show)}">
        <h2 th:text="${show.event.name}">Test</h2>
        <p th:text="${show.event.description}">Description</p>
        <p th:text="${show.venue.name}">Description</p>
        <p th:text="${show.date}">Description</p>

        <table class="table table-striped">
            <tr>
                <th th:text="#{show.section}">Ort</th>
                <th th:text="#{show.count}">Bild</th>
                <th th:text="#{show.pricecat}">Order Tickets</th>
            </tr>
            <tr th:each="section : ${show.venue.sections}">
                <td th:text="${section.description}"></td>
                <td th:text="${section.capacity}"></td>
                <td>
                    <form>
                        <ul>
                            <li th:each="pc : ${price}"
                                th:text="${pc.pricecat.category}">PC
                            </li>
                        </ul>
                    </form>
                </td>
            </tr>
        </table>

    </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>