<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags"
      xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>Account</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2 th:text="#{user.registration}">Registration</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/userregister}" method="post">

            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:autofocus="*{username == null}?'autofocus'"
                           th:readonly="*{username != null}?'readonly'" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group" sec:authorize="isAnonymous()">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{password}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">E-Mail:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" th:field="*{email}" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Firstname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstname}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Lastname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastname}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Street:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{address.street}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{address.city}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zip-Code:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{address.zipcode}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>