<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>even.T.S.</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>User List</h2>
        <table class="table table-striped">
            <tr>
                <th>username</th>
                <th>enabled</th>
                <th>Roles</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"><a href="/product/${product.id}">username</a></td>
                <td th:text="${user.enabled}">enabled</td>
                <td th:text="${user.userRole}">userRole</td>
            </tr>
        </table>

    </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>