<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title th:text="#{site.titel}">even.T.S.</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:class="bg" th:if="${not #lists.isEmpty(venues)}">
        <h2 th:text="#{orte.venues}">Test</h2>
        <table class="table table-striped">
            <tr>
                <th th:text="#{orte.name}">Venue</th>
                <th th:text="#{orte.description}">Description</th>
                <th th:text="#{orte.address}">Address</th>
                <th th:text="#{orte.image}">Bild</th>
            </tr>
            <tr th:each="venue : ${venues}">
                <td th:text="${venue.name}"><a href="/product/${product.id}">name</a></td>
                <td th:text="${venue.description}">Beschreibung</td>
                <td th:text="${venue.address}">Adresse</td>
                <td th:alt="${venue.imageurl}"><img src="../../images/gtvglogo.png" th:src="@{${venue.imageurl}}"
                                                    th:title="${venue.name}" th:width="100" th:height="100"/></td>
            </tr>
        </table>

    </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>